.author-card {
    &__form {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    &__info-item {
        max-width: 250px;
        font-weight: 300;
        span {
            font-weight: 400;
        }
    }

    &__error-message {
        height: 40px;
        color: red;
        text-align: center;
        div {
            padding-top: 17px;
        }
    }
}
