.creating-card {
    padding: 20px 0 30px;
    &__form {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    &__field {
        margin-bottom: 5px;
    }

    &__error-message {
        height: 10px;
        color: red;
        text-align: center;
        div {
            padding-top: 0px;
        }
    }

    .description {
        width: 96%;
    }
}
