.author {
    width: 15vw;
    padding: 10px;
    margin: 0 10px 10px;
    border-radius: 10px;
    border: 1px solid black;
    background-color: white;

    &__info-item {
        max-width: 15vw;
        font-size: 20px;
        font-weight: 300;
        div {
            font-weight: 400;
        }
    }

    &__button {
        width: 100%;
        font-size: 17px;
        font-weight: 300;
        margin-top: 10px;
    }
}